@model SistemaEncuestas.Models.Domain.Pregunta

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEncuestas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEncuestas)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Details/" + Model.IdEncuestas, "Encuesta") |
    @Html.ActionLink("Nueva Respuesta", "Create/" + Model.Id, "Respuesta")
</p>
<table class="table">
    <tr>
        <th>
            Respuesta
        </th>
    </tr>

    @if (Model.Respuestas != null)
    {
        foreach (var item in Model.Respuestas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit/" + item.Id, "Respuesta")
                </td>
            </tr>
        }
    }
</table>
