@model SistemaEncuestas.Models.ViewModels.EncuestaViewModel
@{
    ViewBag.Title = "Responder";
}

<h2>Responder</h2>

@using (Html.BeginForm("Responder", "Encuesta", FormMethod.Post))
{
    @Html.HiddenFor(modelItem => Model.Preguntas)

    for (int i = 0; i < Model.Preguntas.Count; i++)
    {
        @Html.DisplayFor(modelItem => Model.Preguntas[i].NombreP, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HiddenFor(modelItem => Model.Preguntas[i].Id)
        <br />

        List<SistemaEncuestas.Models.Domain.Respuesta> resp = Model.Respuestas[i];

        for (int j = 0; j < resp.Count; j++)
        {
            @Html.RadioButton("Respuesta" + resp[j].Id, resp[j].Id, false) @resp[j].Nombre
            <br />
        }
        <br />
    }

    <br />

    <div class="from-group">
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Enviar Respuestas" />
        </div>
    </div>
}
