@model SistemaEncuestas.Models.ViewModels.EncuestaViewModel
@{
    ViewBag.Title = "Responder";
}

<h2>Responder</h2>

@using (Html.BeginForm("Responder", "Encuesta", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    var j = 0;

    for (int i = 0; i < Model.Preguntas.Count; i++)
    {
        <dt>
            @Html.DisplayFor(modelItem => Model.Preguntas[i].NombreP)
            <input hidden name="respuestas[@j].IdPregunta" value=@Model.Preguntas[i].Id />
            <input hidden name="respuestas[@j].IdEncuesta" value=@Model.Preguntas[i].IdEncuestas />
        </dt>

        foreach (var respuesta in Model.Respuestas[i])
        {
            <dd>
                <div>
                    @Html.RadioButton("respuestas[" + j + "].IdRespuesta", respuesta.Id)
                    @Html.TextBoxFor(modelItem => respuesta.Nombre, new { @hidden = "hidden" })
                    @Html.DisplayFor(modelItem => respuesta.Nombre)
                </div>
            </dd>
        }

        j++;
    }

    <dt>
        <input type="submit" class="btn btn-primary" value="Enviar Respuestas" />
    </dt>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
