<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de Encuestas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top: 0 !important;">
    <div class="navbar navbar-expand-xl navbar-dark bg-black">
        <div class="container-fluid">
            <div class="navbar-brand">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @Html.ActionLink("Sistema de Encuestas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @*ActionLink(this HtmlHelper htmlHelper, string linkText, string actionName, object routeValues, object htmlAttributes)*@
                    <li class="nav-item">@Html.ActionLink("Categorias", "Index", "Categoria", new { area = "" }, new { @class = "nav-link active" })</li>
                    <li class="nav-item">@Html.ActionLink("Mis encuestas contestadas", "ListEncuestas", "Usuario", new { area = "" }, new { @class = "nav-link active" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-lg" style="padding-top: 3em !important;">
        @RenderBody()

        @{ 
            System.Reflection.Assembly asm = System.Reflection.Assembly.GetExecutingAssembly();
            System.Diagnostics.FileVersionInfo fileVersionInfo = System.Diagnostics.FileVersionInfo.GetVersionInfo(asm.Location);
            string version = fileVersionInfo.FileVersion;
        }
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de Encuestas - @version</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
